@import url('https://fonts.cdnfonts.com/css/project-9');
@import url('https://fonts.cdnfonts.com/css/sf-alien-encounters');
@import url('https://fonts.cdnfonts.com/css/informative');


:root{
  --game_size: 672px;
  --chat_size: 200px;
  --full_size: 880px;/* 672(96*7) game + 200 chat + 8 extra */
  --color0: firebrick; /* server messages color */
  --color1: rgb(255, 255, 0); /* player1 color */
  --color2: rgb(0, 255, 0); /* player2 color */
  --color3: rgb(0, 255, 255); /* player3 color */
  --color4: rgb(255, 0, 255); /* player4 color */
}

.color0{color:var(--color0)} /*for server message coloring*/
.color1{color:var(--color1)} /*for player message coloring*/
.color2{color:var(--color2)}
.color3{color:var(--color3)}
.color4{color:var(--color4)}

.layer{
  position: absolute;
  width: 100%;
  height: 100%;
}

html{
  min-width: var(--full_size); 
}

body{
  background-color: black;
}

td>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

td>div >div {
  align-self: center ;
}

td>div >div.description {
  width: 100%;
}


#first_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  display: block;
  overflow: hidden;
}


h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: yellow;
  border-bottom: 4px solid #555;
  padding: 5px 0px;
  display: inline-block;
  font-family: 'Project-9', sans-serif;
}
/* Landing Page */

.game-title {
  font-family: 'Project-9', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
  border: 3px aqua solid;
  padding: 20px;
}

.game-updates-container {
  font-family: 'sf alien encounters solid', sans-serif;
  color: lightgray;
  font-size: larger;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#connect_to_game , #rip {
  font-family: 'SF Alien Encounters Solid', sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  background:aqua;
  color: black;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: none;
}

#connect_to_game:hover {
  background-color: #222;
  box-shadow: 0px 0px 10px #eee;
  color: #fff;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.form-input input {
  width: 15%;
  padding: 10px;
  border: 1px solid #555;
  font-size: 16px;
  font-family: monospace;
  text-align: center;
}


/* End of Landing Page */

/* Waiting Room */ 

#second_screen{
  background-color: darkolivegreen;
  display: none;
}

#game_view{
  position: relative;
  background-color: darkslategrey;
  width: var(--game_size);
  height: var(--game_size);
  float: left;
}

#chat_view{
  background-color:lightblue;
  width: var(--chat_size);
  height: var(--game_size);
  float: left;
}

#chat_view__input__send {
  background-color:lightblue;  
  cursor: pointer;
}

#chat_view__input__send:hover {
  background-color: #222;
  color: #fff;
}


#chat_view__input__send
{
  width: 100%;
  height: 24px;
  padding: 0px;
  border: 0px;
  font-family: 'sf alien encounters solid', sans-serif;
  text-align: center;
}

#chat_view__input__message {
  background-color: gainsboro ;
  width: 100%;
  height: 24px;
  padding: 0px;
  border: 0px;
  text-align: center;
}

#rip{
  width: 100%;
  height: 24px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  font-family: 'sf alien encounters solid', sans-serif;
  text-align: center;
  background-color: lightblue;
}

#rip:hover {
  background-color: #222;
  color: #fff;
}


#chat_view__messages{
  background-color: black;
  color : gainsboro;
  width: 100%;
  height: 552px; /* 672 - 24*x5 buttons */
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline : 0px;
  overflow-y: scroll;
}

#player_lifes , #connected_players {
  text-align: center;
  font-family: 'sf alien encounters solid', sans-serif;
  padding-top: 10px;
  background-color: gainsboro;
}

/*description*/

#game_objects {
  background-image: url("back1.png");
  background-size: cover; 
  background-repeat: no-repeat;
  color: gainsboro;
  border: 2px solid black;
  border-radius: 8px;
}


.game_object{
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  padding: 2px;
}

.cell_demo{width: 96px; height: 96px;}

.description{
  border: 1px black solid;
  border-bottom: none;
  border-radius: 0px 0px 8px 8px ;
  background-color: black;
  margin: 4px -2px -2px -2px;
  padding: 2px;
  
}

/*game layers*/

/*game cells*/
.absolute{
  position: absolute;
}

.cell {
  position: absolute;
  width: 96px;
  height: 96px;
}

/* works, need !important to force ignore other classes, later remove it to show*/
.none{
  background-image: none !important;
  background: none !important;
  animation: none !important;
}

.weak_obstacle{
  background-image: url("weak_obstacle.png");
}
